* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  height: 100vh;
}
/* header */
header {
  display: flex;
  justify-content: end;
  height: 60px;
  padding: 0 18px;
}

header .opciones {
  display: flex;
  align-items: center;
  gap: 12px;
}

header .opciones a {
  font-size: 13px;
  color: rgb(15, 15, 15);
}

header .opciones a img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.dots-logo {
  display: inline-block;
  background-image: url(assets/al-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

/* main */
main {
  height: calc(100% - 60px - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

}
.container figure{
  height: 92px;
}
.container figure img {
  height: 100%;
}
.container .searcher {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid gray;
  border-radius: 24px;
}
.searcher span {
  width: 30px;
}
.searcher .text{
  width: 100%;
}
.searcher .area {
  width: 100%;
  display: flex;
  resize: none;
  font-size: 16px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding-top: 10px;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  line-height: 14px;
  overflow-x: hidden;
}

.container .searcher-buttons {
  display: flex;
  gap: 10px;
}
.container .searcher-buttons button{
  border: none;
  border-radius: 4px;
  background-color: rgb(248 249 250);
  padding: 12px;
  color: rgb(19, 19, 19);
}

.container p {
  font-size: small;
  color: rgb(8, 8, 8);
}

footer {
  display: flex;
  flex-direction: column;
  height: 90px;
  background-color: #fdfdfd;
}
section {
  font-size: 12px;
  background-color: #f2f2f2;
  padding: 0 30px;
  display: flex;
  align-items: center;
  height: 50%;
  color: #141414;
  width: 100%;
}
section.more-info {
  width: 100%;
  border-top: #d6d6d6 solid 1px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
section.more-info div {
  width: 100%;
  display: flex;
  gap: 18px;
  justify-content: center;
  flex-wrap: wrap;
}
section.more-info div a {
  color: #272727;
  text-decoration: none;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 3px;
  text-wrap: nowrap;

}

@media (min-width: 575px) {
  section.more-info div {
    flex-wrap: nowrap;
  }
}
@media (min-width: 920px) {
  section.more-info .sobre-de{
    flex: 3;
  }
  section.more-info .sobre-de a {
    justify-content: start;
    }
    section.more-info .privacidad{
      flex: 2;
      justify-content: end;
    }
    section.more-info .privacidad a {
      justify-content: end;
      }
}